.mainWrap {
  display: flex;
  position: absolute;
  bottom: 34px;
  left: 0px;
  right: 0px;
  justify-content: center;
  align-items: center;
}

.mainBtn {
  width: 132px;
  height: 46px;
  background: linear-gradient(180deg, #dcebff 0%, #ffffff 100%);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.07);
  opacity: 1;
  border-radius: 10px;
  line-height: 46px;
  text-align: center;
  font-size: 20px;
  font-family: Segoe UI;
  color: #3c5477;
  cursor: pointer;
  pointer-events: auto;
  &.active {
    color: white;
    background: linear-gradient(180deg, #5480c1 0%, #85d4f3 100%);
  }
  &:hover {
    color: white;
    background: linear-gradient(180deg, #5480c1 0%, #85d4f3 100%);
  }
}

.sceneBtn {
  width: 52px;
  height: 52px;
  background: rgba(255, 255, 255, 0.64);
  border: 1px solid #3c5477;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  opacity: 1;
  line-height: 52px;
  text-align: center;
  cursor: pointer;
  pointer-events: auto;
  color: #3c5477;
  box-sizing: content-box;
  font-size: 20px;
  &.active {
    border: 4px solid #ffffff;
    background: #3c5477;
    color: white;
  }
  &:hover {
    border: 4px solid #ffffff;
    background: #3c5477;
    color: white;
  }
}

.colorBtn {
  width: 52px;
  height: 52px;
  border: 1px solid #ffffff;
  // background: linear-gradient(145deg, #ededed 0%, #cbcbcb 100%);
  border-radius: 50%;
  opacity: 1;
  box-sizing: content-box;
  cursor: pointer;
  pointer-events: auto;
  &.active {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    border: 4px solid rgba(255, 255, 255, 0.7686274509803923);
  }
  &:hover {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    border: 4px solid rgba(255, 255, 255, 0.7686274509803923);
  }
}

.insideBtn {
  width: 141px;
  height: 46px;
  border: 1px solid #ffffff;
  background: linear-gradient(180deg, #ffffff 0%, #d5e6ff 15%, #dcebff 100%);
  box-shadow: 0px 6px 6px rgba(0, 20, 87, 0.07);
  opacity: 1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: Segoe UI;
  color: #3c5477;
  cursor: pointer;
  pointer-events: auto;
  .divid {
    width: 1px;
    height: 31px;
    background-color: #6e6e6e;
    opacity: 0.35;
    margin-left: 11px;
    margin-right: 7px;
  }
  &.active {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.7882352941176471);
    background: linear-gradient(180deg, #a4e1ff 0%, #5785c4 100%);
    box-shadow: 0px 6px 6px rgba(0, 20, 87, 0.07);
    .divid {
      background-color: white;
    }
  }
  &:hover {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.7882352941176471);
    background: linear-gradient(180deg, #a4e1ff 0%, #5785c4 100%);
    box-shadow: 0px 6px 6px rgba(0, 20, 87, 0.07);
    .divid {
      background-color: white;
    }
  }
}

.viewBtn {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  width: 70;
  height: 70;
  transform: translateY(-50%);
  top: 50%;
}

.barrage {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  bottom: 42px;
  right: 42px;
  color: white;
}

.viewPage {
  position: absolute;
  right: 171px;
  top: 50%;
  transform: translateY(-50%);
  width: 411px;
  height: 327px;
  background: #ffffff;
  box-shadow: 0px 6px 6px rgba(0, 20, 87, 0.1);
  opacity: 0.8;
  border-radius: 27px;
  padding: 27px;
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    pointer-events: auto;
    font-size: 20px;
    color: fade(#001457, 16%);
  }
  .img {
    height: 177px;
    border-radius: 18px;
    background-color: yellowgreen;
  }
  .title {
    font-size: 21px;
    font-family: Segoe UI;
    font-weight: bold;
    line-height: 28px;
    color: #666666;
    opacity: 1;
  }
  .divide {
    width: 155px;
    height: 0px;
    border: 1px solid #707070;
    opacity: 1;
    margin-top: 17px;
    margin-bottom: 15px;
  }
  .desc {
    font-size: 18px;
    font-family: Segoe UI;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    opacity: 1;
  }
}
